.header {
    width: 100%;
    position: absolute;
    z-index: 2;
    &__wrapper {
        width: 532px;
        display: flex;
        justify-content: space-between;
        a {
            width: 133px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
            text-decoration: none;
            color: #fff;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            font-weight: bold;
            font-size: 12px;
            line-height: 18px;
        }
    }
    &__logo {
        margin-top: 25px;
        position: absolute;
        width: 150px;
        left: 50%;
        transform: translateX(-50%);
    }
    &__menu, &__hamburger {
        display: none;
    }
}